@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>@Model.Name</p>
<p>@Model.ReleaseDate</p>
<p>@Model.AddedDate</p>
<p>@Model.InStock</p>
<p>@Model.Genre.Name</p>